# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
# db.sqlite3 포함 (다른 컴퓨터에서 바로 사용 가능하도록)
db.sqlite3-journal
staticfiles/
.env
staticfiles/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Virtual Environment
venv/
env/
ENV/
