asgiref==3.11.0
certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
Django==4.2.7
django-cors-headers==4.3.0
django-filter==23.3
djangorestframework==3.14.0
drf-yasg==1.21.11
easyocr==1.7.2
et_xmlfile==2.0.0
filelock==3.20.1
fsspec==2025.12.0
huggingface-hub==0.20.0
idna==3.11
ImageIO==2.37.2
inflection==0.5.1
Jinja2==3.1.6
lazy_loader==0.4
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.6.1
ninja==1.13.0
numpy==2.2.6
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
packaging==25.0
pillow==10.4.0
pyclipper==1.4.0
PyJWT==2.8.0
pytesseract==0.3.10
google-genai
easyocr
numpy
pillow
requests
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.3
requests==2.31.0
scikit-image==0.25.2
scipy==1.16.3
setuptools==80.9.0
shapely==2.1.2
sqlparse==0.5.4
sympy==1.14.0
tifffile==2025.12.12
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
google-generativeai==0.3.2
